<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <div id="map" style="width:100%;height:750px;"></div>

        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2a54a3fcd99375d264c57815c46bd1b8&libraries=services"></script>

        <script th:inline="javascript">

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            var getCAddr = getCookie("inputAddr"); //쿠키 주소 얻어오기
            var nowCoords;
            var tmpData;

            //동기 방식으로 주소, 마커 추가
            const setCurAddress = function () {
                return new Promise(function (resolve, reject) {
                    setTimeout(function () {

                        // 주소로 좌표를 검색합니다
                        geocoder.addressSearch(getCAddr, function (result, status) {
                            // 정상적으로 검색이 완료됐으면
                            if (status === kakao.maps.services.Status.OK) {

                                var tmpCoords = new kakao.maps.LatLng(result[0].y, result[0].x);
                                tmpData = {
                                    latlng: tmpCoords
                                };
                            }
                            nowCoords = tmpData.latlng;
                        });
                    }
                    )
                    resolve();
                    //reject('setMarker fail');
                }, 100
                );
            };

            const setCurMarker = function () {
                return new Promise(function (resolve, reject) {
                    setTimeout(function () {
                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                                center: nowCoords, // 지도의 중심좌표: 검색 주소
                                level: 5 // 지도의 확대 레벨
                            };
                        //var getCAddr = getCookie("inputAddr"); //쿠키 주소 얻어오기

                        // 지도를 생성합니다
                        var map = new kakao.maps.Map(mapContainer, mapOption);
                        var locPosition = nowCoords,
                            message = '검색 위치'

                        displayMarker(locPosition, message);

                        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
                        function displayMarker(locPosition, message) {

                            // 마커를 생성합니다
                            var marker1 = new kakao.maps.Marker({
                                map: map,
                                position: locPosition
                            });

                            var iwContent = message, // 인포윈도우에 표시할 내용
                                iwRemoveable = true;

                            // 인포윈도우를 생성합니다
                            var infowindow = new kakao.maps.InfoWindow({
                                content: iwContent,
                                removable: iwRemoveable
                            });

                            // 인포윈도우를 마커위에 표시합니다
                            infowindow.open(map, marker1);



                        }

                        /*<![CDATA[*/
                        var addressList = /*[[ ${addressList} ]]*/;
                        /*]]*/

                        var positions = new Array();
                        var marker2;

                        //별표 마커 소스
                        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                        // 마커 이미지의 이미지 크기 입니다
                        var imageSize = new kakao.maps.Size(24, 35);

                        //동기 방식으로 주소, 마커 추가
                        const setAddress = function () {
                            return new Promise(function (resolve, reject) {
                                setTimeout(function () {
                                    for (const addr in addressList) {
                                        // 주소로 좌표를 검색합니다
                                        geocoder.addressSearch(addressList[addr].address, function (result, status) {
                                            // 정상적으로 검색이 완료됐으면
                                            if (status === kakao.maps.services.Status.OK) {

                                                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                                                var data = {
                                                    title: addressList[addr].store_name,
                                                    latlng: coords,
                                                    food_category_cd: addressList[addr].food_category_cd,
                                                    store_id: addressList[addr].store_id,
                                                    store_picture_url: addressList[addr].store_picture_url,
                                                    phone: addressList[addr].phone,
                                                    content: addressList[addr].content,
                                                    store_distance: addressList[addr].store_distance,
                                                    rating: addressList[addr].rating,
                                                    dibs_count: addressList[addr].dibs_count,
                                                    review_count: addressList[addr].review_count
                                                };
                                                positions.push(data);
                                            }

                                        });

                                    }
                                    resolve();
                                    //reject('setAddress fail');
                                }, 100);
                            });
                        };

                        const setMarker = function () {
                            return new Promise(function (resolve, reject) {
                                setTimeout(function () {
                                    for (var i = 0; i < positions.length; i++) {

                                        // 마커 이미지를 생성합니다
                                        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                                        // 마커를 생성합니다
                                        marker2 = new kakao.maps.Marker({
                                            map: map, // 마커를 표시할 지도
                                            position: positions[i].latlng, // 마커를 표시할 위치
                                            title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                                            image: markerImage // 마커 이미지
                                        });
                                        setTimeout(setMarkerInfo(i), 200);

                                    }
                                    // 지도 중심좌표를 검색위치로 변경합니다
                                    map.setCenter(locPosition);
                                    resolve();
                                    //reject('setMarker fail');
                                }, 200);
                            });
                        };
                        var setMarkerInfo = function (j) {

                            var iwContent = '<div style="padding:5px;">' + '<img src="' + positions[j].store_picture_url + '" style="width:50px; height:50px;"><br>' + positions[j].title + '<br>평점: ' + positions[j].rating + '<br>번호: ' + positions[j].phone + '<br><a href="http://localhost/store/read?store_id=' + positions[j].store_id + '" style="color:blue">가게 상세보기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                                iwPosition = positions[j].latlng; //인포윈도우 표시 위치입니다
                            // 인포윈도우를 생성합니다
                            var infowindow = new kakao.maps.InfoWindow({
                                position: iwPosition,
                                content: iwContent
                            });
                            infowindow.open(map, marker2);

                        };
                        setAddress()
                            .then(setMarker());
                        resolve();
                        //reject('setMarker fail');
                    }, 200);
                });
            };
            setCurAddress()
                .then(setCurMarker());

        </script>

    </th:block>

</th:block>